<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="<%= basepath %>dist/welean2-game.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if lt IE 9]>
            <script src="<%= basepath %>dist/es5-compat.js"></script>
            <script src="<%= basepath %>dist/es6-compat.js"></script>
        <![endif]-->
        <script type="text/javascript" src="<%= basepath %>socket.io/socket.io.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/device.js"></script>
    </head>
    <body class="device">
        <div class="container">
            <div class="welcome">
                <h1>Bienvenue au jeu de bataille <%= name %> :)</h1>

                <a class="button">Je suis prêt !</a>
                <div class="iamready">Vous êtes prêt<div>En attente des autres joueurs...</div></div>
            </div>
            <div class="game">
            	<div class="leftside">
	                <div class="my-deck"></div>
	                <input type="button" class="cheat-btn" value="Cheat" />
                </div>
                <div class="rightside">
                    <ul class="log"></ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            client = "device";
            token = "<%= token %>";
            name = "<%= name %>";
        </script>
    </body>
</html>
