<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="<%= basepath %>dist/welean2-game.css" />

        <!--[if lt IE 9]>
            <script src="<%= basepath %>dist/es5-compat.js"></script>
            <script src="<%= basepath %>dist/es6-compat.js"></script>
        <![endif]-->
        <script type="text/javascript" src="<%= basepath %>socket.io/socket.io.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/welean2-game.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/welean2-game.templates.js"></script>
    </head>
    <body>

    client the war

    <div id="user-profile-page" class="page show">
        <form method="POST" action="#">
            <label for="username">Username</label>
            <input type="text" name="username" />
            <input type="submit" name="submit" value="submit" />
        </form>
    </div>

    <div id="user-ready-page" class="page hide">
        <div class="button-togglable">Ready ?</div>
    </div>

    </body>

    <script type="text/javascript">
        // var app = new TheWarApplication();
    </script>
</html>
