<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="<%= basepath %>dist/welean2-game.css" />

        <!--[if lt IE 9]>
            <script src="<%= basepath %>dist/es5-compat.js"></script>
            <script src="<%= basepath %>dist/es6-compat.js"></script>
        <![endif]-->
        <script type="text/javascript" src="<%= basepath %>socket.io/socket.io.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/welean2-game.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/welean2-game.templates.js"></script>
    </head>
    <body>
        <div class="container">
            la bataille, vue du board <a href="/play/<%= token %>">smartphone view</a>
            <ul id="list-users"></ul>
            <div class="infos">
                <span class="playersCount">0</span> joueurs<span class="infosPlayersReady"> dont <span class="playersReadyCount">0</span> prêts</span>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        client = "board";
        token = "<%= token %>";
    </script>
</html>
