<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="<%= basepath %>dist/welean2-game.css" />

        <!--[if lt IE 9]>
            <script src="<%= basepath %>dist/es5-compat.js"></script>
            <script src="<%= basepath %>dist/es6-compat.js"></script>
        <![endif]-->
        <script type="text/javascript" src="http://<%= domainName.split(':')[0] %>:3300/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="<%= basepath %>dist/board.js"></script>
        <script type="text/javascript" src="http://davidshimjs.github.io/qrcodejs/qrcode.min.js"></script>
        <script type="text/javascript">
        	var playUrl = "http://<%= domainName %>/play/<%= token %>";
        </script>
    </head>
    <body class="board">
        <div class="container">
            <div class="rightside">
                <div class="firstpart">
                    <h3>Joueurs</h3>
                    <ul id="list-users"></ul>
                </div>
                <div class="secondpart">
                    <ul id="log"></ul>
                </div>
            </div>
            <div class="welcome">
                <h1>Bienvenue au jeu de bataille !</h1>
                <h2>Connectez-vous dès maintenant avec l'url <a href="/play/<%= token %>">http://<%= domainName %>/play/<%= token %></a></h2>
                <div class="qrContainer">
                	<div id="qrcode"></div>
                </div>
                <div class="infos">
                    <span class="playersCount">0</span> joueurs<span class="infosPlayersReady"> dont <span class="playersReadyCount">0</span> prêts</span>
                </div>
            </div>
            <div class="game">
                <div class="cards">
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        window.client = "board";
        window.token = "<%= token %>";

        // Generate qrcode
        new QRCode(document.getElementById("qrcode"), {text: playUrl, width: 250, height: 250});
    </script>
</html>
